/* ---------------- */
/* custom properties*/
/* ---------------- */

// color
$clr-primary: #1b1a17;
$clr-secondary: #292929;
$clr-accent: #434BE7;

//  fonts family
$ff-title: 'Source Sans Pro', sans-serif;
$ff-text: 'Harmattan', sans-serif;

// font wight
$fw-title: 700;
$fw-regular: 500;
$fw-paragraph: 400;

// text color
$text-title: rgba(255,255,255, .80);
$text-list: rgba(255,255,255, .70);
$text-paragraph: rgba(255,255,255, .65);

// font size 
$fs-title: 2rem;
$fs-text: 1rem;
$fs-paragraph: 1.2rem;
$fs-button: 1.4rem;

//styles
$border: .2em solid rgba(67,75,231, .25);